%h1 Listing roles

%table
  %tr
    %th User
    %th Label
    %th
    %th
    %th

  - @roles.each do |role|
    %tr
      %td= link_to role.user.name, role.user
      %td= role.label
      %td= link_to 'Show', role
      %td= link_to 'Edit', edit_role_path(role)
      %td= link_to 'Destroy', role, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Role', new_role_path
