= form_for @session do |f|
  - if @session.errors.any?
    #error_explanation
      %h2= "#{pluralize(@session.errors.count, "error")} prohibited this session from being saved:"
      %ul
        - @session.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.text_field :user_id
  .field
    = f.label :provider
    = f.text_field :provider
  .field
    = f.label :uid
    = f.text_field :uid
  .field
    = f.label :remote_ip
    = f.text_field :remote_ip
  .field
    = f.label :user_agent
    = f.text_field :user_agent
  .field
    = f.label :closed_at
    = f.text_field :closed_at
  .actions
    = f.submit 'Save'
