%div#heading-area
  %div.row
    %div.large-12.column
      %h1 Primer Encuentro de Datos Científicos Abiertos
%div.row
  %div.large-12.columns
    = render 'layouts/breadcrumbs'
%div.row
  %div.large-8.columns
    %h3 Con lleno total y una activa participación de los asistentes, se realizó el Primer Encuentro sobre Datos Científicos Abiertos.
    %p Durante esta jornada los asistentes pudieron conocer sobre las diversas aristas que implica contar con una política de datos abiertos par la ciencia en Chile. La directora del Programa de Investigación Científica de CONICYT, Patricia Muñoz, invitó a la comunidad científica a ser partícipes de la discusión y elaboración de esta futura política.
    %div.flex-video.widescreen.vimeo
      %iframe{'src' => 'http://player.vimeo.com/video/109641171', 'width' => '300', 'height' => '169', 'frameborder' => '0', 'webkitAllowFullScreen' => true, 'mozallowfullscreen' => true, 'allowFullScreen' => true}
    %div.flex-video.widescreen.vimeo
      %iframe{'src' => 'http://player.vimeo.com/video/111111958', 'width' => '300', 'height' => '169', 'frameborder' => '0', 'webkitAllowFullScreen' => true, 'mozallowfullscreen' => true, 'allowFullScreen' => true}
    %div.flex-video.widescreen.vimeo
      %iframe{'src' => 'http://player.vimeo.com/video/111124136', 'width' => '300', 'height' => '169', 'frameborder' => '0', 'webkitAllowFullScreen' => true, 'mozallowfullscreen' => true, 'allowFullScreen' => true}
    %div.flex-video.widescreen.vimeo
      %iframe{'src' => 'http://player.vimeo.com/video/111124138', 'width' => '300', 'height' => '169', 'frameborder' => '0', 'webkitAllowFullScreen' => true, 'mozallowfullscreen' => true, 'allowFullScreen' => true}
    %div.flex-video.widescreen.vimeo
      %iframe{'src' => 'http://player.vimeo.com/video/111124137', 'width' => '300', 'height' => '169', 'frameborder' => '0', 'webkitAllowFullScreen' => true, 'mozallowfullscreen' => true, 'allowFullScreen' => true}
    %div.flex-video.widescreen.vimeo
      %iframe{'src' => 'http://player.vimeo.com/video/111124139', 'width' => '300', 'height' => '169', 'frameborder' => '0', 'webkitAllowFullScreen' => true, 'mozallowfullscreen' => true, 'allowFullScreen' => true}
  %div.large-4.columns
    %h4 Transparencias
    %ol
      %li= link_to 'Charla de Patricia Muñoz', '/files/charla_patricia.pdf', target: '_blank'
      %li= link_to 'Charla de Ronald Cancino y Patricio Padilla', '/files/charla_ronald_patricio.pdf', target: '_blank'
      %li= link_to 'Charla de Juan Carlos Lara', '/files/charla_juancarlos.pdf', target: '_blank'
      %li= link_to 'Charla de Claudio Gutierrez', '/files/charla_claudio.pdf', target: '_blank'
    %h4 Audios completos.
    %div.panel.audios
      %audio{controls:"controls", type:"audio/ogg", src:"http://f8c4dbbdc094b93f37d9-f9c33a1d94ec7942f550f9dd2c7bd6d9.r85.cf1.rackcdn.com/charla-patricia.ogg"}
      %label Charla de Patricia Muñoz.
      %audio{controls:"controls", type:"audio/ogg", src:"http://f8c4dbbdc094b93f37d9-f9c33a1d94ec7942f550f9dd2c7bd6d9.r85.cf1.rackcdn.com/charla-ronald-patricio.ogg"}
      %label Charla de Ronald Cancino y Patricio Padilla.
      %audio{controls:"controls", type:"audio/ogg", src:"http://f8c4dbbdc094b93f37d9-f9c33a1d94ec7942f550f9dd2c7bd6d9.r85.cf1.rackcdn.com/preguntas-1.ogg"}
      %label Primer bloque de preguntas.
      %audio{controls:"controls", type:"audio/ogg", src:"http://f8c4dbbdc094b93f37d9-f9c33a1d94ec7942f550f9dd2c7bd6d9.r85.cf1.rackcdn.com/charla-juan-carlos.ogg"}
      %label Charla de Juan Carlos Lara.
      %audio{controls:"controls", type:"audio/ogg", src:"http://f8c4dbbdc094b93f37d9-f9c33a1d94ec7942f550f9dd2c7bd6d9.r85.cf1.rackcdn.com/charla-claudio.ogg"}
      %label Charla de Claudio Gutierrez.
      %audio{controls:"controls", type:"audio/ogg", src:"http://f8c4dbbdc094b93f37d9-f9c33a1d94ec7942f550f9dd2c7bd6d9.r85.cf1.rackcdn.com/preguntas-2.ogg"}
      %label Segundo bloque de preguntas.
